[Unit]
Description=Octaaf, a Telegram bot
Documentation=https://github.com/BartWillems/Octaaf
Requires=postgresql.service
After=postgresql.service

[Service]
Type=simple
ExecStart=/opt/octaaf/octaaf
WorkingDirectory=/opt/octaaf
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target